.top {
  background-color: #c19a6b;
  display: flex;
  min-width: fit-content;
  min-height: 20vh;
  border-width: 3px;
  border-color: #6d573d;
  border-style: double;
}

.logo {
  padding: 100px;
  border: 1px solid black;
}

.title {
  padding: 80px 300px;
  margin-left: 50%;
  margin-right: ;
  border: 1px solid black;
}

.nav {
  align-self: last baseline;
  padding: 20px 200px;
  border: 1px solid black;
}

.bottom {
  background-color: #eaddca;
  display: flex;
  justify-content: center;
  min-width: fit-content;
  min-height: 80vh;
}

.search-container {
  justify-content: center;
  margin-top: 100px;
}

.search-bar {
  width: 600px;
  height: 60px;
  box-sizing: border-box;
  border-width: 3px;
  border-color: #c19a6b;
  border-style: double;
}
