.top {
  background-color: #c19a6b;
  display: flex;
  justify-content: space-between;
  min-width: fit-content;
  min-height: 20vh;
  border-width: 3px;
  border-color: #6d573d;
  border-style: double;
}

.logo {
  padding: 100px;
}

.title {
  text-align: center;
  font-size: 40px;
}

.nav {
  align-self: last baseline;
  display: flex;
  justify-content: center;
}
.nav a {
  font-size: large;
  padding: 10px 20px;
  color: black;
  display: block;
  text-decoration: none;
}

.nav a:hover {
  color: aliceblue;
  background-color: #6d573d;
}
.bottom {
  background-color: #eaddca;
  display: flex;
  /* min-width: fit-content; */
  min-height: 80vh;
}

.search-container {
  align-self: flex-end;
}

.search-container button {
  height: 30px;
}
.search-bar {
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  border-width: 3px;
  border-color: #c19a6b;
  border-style: double;
}

.sidebar {
  width: 200px;
  height: 100vh;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 20px;
  position: fixed;
}

.cafe {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
}
.filter {
  display: block;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  margin: 20px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-left: 220px; /* Adjust based on your sidebar width */
  overflow-y: auto;
}

footer {
  background-color: #887054;
  padding: 10px;
}
