.top {
  background-color: #c19a6b;
  display: flex;
  min-width: 100vw;
  min-height: 20vh;
}

.bottom {
  background-color: #eaddca;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 80vh;
}

.search-bar-container {
  padding: 100px 20px;
}
.search-bar {
  width: 30%;
  height: 40px;
  padding: 8px 8px;
  box-sizing: border-box;
}
