.top {
  background-color: #c19a6b;
  display: flex;
  min-width: 100vw;
  min-height: 20vh;
  border-width: 3px;
  border-color: #c19a6b;
  border-style: double;
}

.bottom {
  background-color: #eaddca;
  display: flex;
  justify-content: center;
  min-width: fit-content;
  min-height: 80vh;
  border-width: 3px;
  border-color: #c19a6b;
  border-style: double;
}

.search-bar-container {
  justify-content: center;
  padding: 150px;
}

.search-bar {
  width: 600px;
  height: 60px;
  box-sizing: border-box;
  border-width: 3px;
  border-color: #c19a6b;
  border-style: double;
}
